<!DOCTYPE html>
<html ng-app="gerProjAdminLogin">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GerProj - Admin - Login</title>

        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <link href="css/sb-admin-2.css" rel="stylesheet">
        <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../bower_components/AngularJS-Toaster/toaster.min.css" rel="stylesheet" >

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-controller="LoginController">
<toaster-container></toaster-container>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Favor realize o login para acessar o ambiente administrativo</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" novalidate="" ng-submit="logar()">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Usuário" type="text" ng-model="login.login" ng-trim="true" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Senha" type="password" ng-model="login.senha" ng-trim="true" value="">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js" ></script>
        <script src="../bower_components/AngularJS-Toaster/toaster.min.js" ></script>
        
        <script src="login.js"></script>

    </body>

</html>
