<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header page-header-titulo"><i class="fa fa-user-secret"></i> {{page_title}} </h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Alteração de senha do usuario: {{gerProjAdminUserName}}
            </div>
            <div class="panel-body">
                <form role="form" novalidate="" ng-submit="save()" >
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Senha atual</label>
                                <input class="form-control" id="senha_atual" name="senha_atual" type="password" ng-model="data.current_password" required="" ng-minlength="3"/>
                                <p class="help-block">Senha utilizada atualmente para acessar o sistema.</p>
                            </div>
                            <div class="form-group">
                                <label>Senha nova</label>
                                <input class="form-control" id="senha_nova" name="senha_nova" type="password" ng-model="data.new_password" required="" ng-minlength="3"/>
                                <p class="help-block">Senha desejada.</p>
                            </div>
                            <div class="form-group">
                                <label>Confirmação de senha</label>
                                <input class="form-control" id="senha_confirmacao" name="senha_confirmacao" type="password" ng-model="data.confirmation_password" equals-to="data.new_password" required="" ng-minlength="3"/>
                                <p class="help-block">Confirmação da nova senha escolhida.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button type="button" class="btn btn-default btn-danger" ui-sref="home">Cancelar</button>
                            <button type="submit" class="btn btn-default btn-success">Alterar senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>