<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> {{page_title}} </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cliente #{{cli_codigo}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control" id="nome" name="nome" />
                                <p class="help-block">Nome do Cliente.</p>
                            </div>
                            <div class="form-group">
                                <label>ID Externo</label>
                                <input class="form-control" id="id_externo" name="id_externo" />
                                <p class="help-block">ID do Cliente no sistema de CRM.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    