<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header page-header-titulo">
            <i class="fa fa-dashboard"></i> {{page_title}} 
            <help-link pdf="dash_gerente.pdf" ng-if="currentUserIsGerente()"></help-link>
            <help-link pdf="dash_desenvolvedor.pdf" ng-if="currentUserIsDesenvolvedor()"></help-link>
            <help-link pdf="dash_tester.pdf" ng-if="currentUserIsTester()"></help-link>
            <help-link pdf="dash_implantador.pdf" ng-if="currentUserIsImplantador()"></help-link>
        </h3>
    </div>
</div>
<ng-include src="'templates/dash-gerente.html'" ng-if="currentUserIsGerente()"></ng-include>
<ng-include src="'templates/dash-dev.html'" ng-if="currentUserIsDesenvolvedor()"></ng-include>
<ng-include src="'templates/dash-teste.html'" ng-if="currentUserIsTester()"></ng-include>
<ng-include src="'templates/dash-implantacao.html'" ng-if="currentUserIsImplantador()"></ng-include>